@model HYDbklgn.Framework.AppModel.HomeModel
@using HYDbklgn.jobweb.Tools
@{
    ViewBag.Title = "Index";
}

@*<div class="link-container">
    <menu class="link-menu">
        @foreach(var link in Model.Links)
            {
                <a class="menu-link" href="@link.Url">@link.LinkName</a>
            }
    </menu>

</div>*@
<div class="thumbnail-container">
    @foreach(var link in Model.Links.Select((l,i)=> new { index = i, src = l}))
            {
                <div class="thumbnail">
                    
                        <div class="modal-wrapper">
                            <a href="@link.src.Url"><img src="@Url.Content("~/Content/images/"+ (link.src.LinkName.Contains("Car") ? "yellow_car.jpg": "meeting_room.jpg"))" /></a>
                            <span class="span-@(link.index+1)">@link.src.LinkName</span>
                            @if (link.index > 0)
                            {
                                <span style="color:red;font-size:x-small">(Under Construction)</span>
                                
                            }
                        </div>
                    </div>

                
            }
</div>



@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/my.home.js")"></script>
}


@section styles {
    <link rel="stylesheet" href="@Url.GetTimedContentUrl("~/Content/home.css")" />
}

